<div class="header clearfix">
    <nav>
        <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="/">Home</a></li>
            <li role="presentation"><a href="/addStudent">Add Student</a></li>
        </ul>
        <h3 class="text-muted">Integirfy Coding Academy</h3>
    </nav>
</div>
