<html>
<head>
      <link href="/css/addStudent.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="input-items">
<h1>Add New Student Here</h1>
<form action="/addStudent" method="post" enctype="multipart/form-data">
  <label>First Name: </label>
  <input type="text" name="firstName" id="firstName" /> <br />
  <label>Last Name: </label>
  <input type="text" name="lastName" id="lastName" /> <br />
  <label>Title: </label>
  <input type="text" name="title" id="title" /> <br />
  <label>Nationality: </label>
  <input type="text" name="nationalit" id="nationality" /> <br />
  <label>Skills: </label>
  <input type="text" name="skills" id="skills" /> <br />
  <label>whySofterDeveloper: </label>
  <input type="text" name="wsv" id="wsv" /> <br />
  <label>Skills: </label>
  <input type="text" name="skills" id="skills" /> <br />
  <label>whySofterDeveloper: </label>
  <input type="text" name="wsv" id="wsv" /> <br />
  <label>longTermVision: </label>
  <input type="text" name="ltv" id="ltv" /> <br />
  <label>motivatesMe: </label>
  <input type="text" name="mM" id="mM" /> <br />
  <label>favoriteQuote: </label>
  <input type="text" name="fq" id="fq" /> <br />
  <label>joinedOn: </label>
  <input type="text" name="jo" id="jo" /> <br />
  <label>Upload Image</label><input type="file" name="studentImage" src="studentImage"/> <br />
  <button type="submit">Save</button>
</form>
</div>
</body>
</html>
